<div class="plaque profile-plaque">
  <h1><%= title %></h1>
  <% if (locals.currentUser) { %>
  <h2>Username: <%= currentUser.username %></h2>

  <p>Name: <%= currentUser.getFullName() %></p>

  <p>Email: <%= currentUser.email %></p>
  <p>Member: <%= currentUser.isMember ? '✅' : '❌' %></p>
  <p>Admin: <%= currentUser.isAdmin ? '✅' : '❌' %></p>
  <a href='/edit-profile'>Edit profile</a>
  <% } else { %>
  <p>Log in to view your profile.</p>
  <% } %>
</div>